---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: false
NamespaceIndentation: None
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
IncludeIsMainRegex: '([A-Za-z0-9._-]+)\.(h|hpp)$'
IncludeCategories:
  - Regex: '^"tuinator/'
    Priority: 1
  - Regex: '^<tuinator/'
    Priority: 2
  - Regex: '^<'
    Priority: 3
  - Regex: '.*'
    Priority: 4
