---
Checks: >
  -*,
  bugprone-*,
  -bugprone-branch-clone,
  -bugprone-derived-method-shadowing-base-method,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-incorrect-roundings,
  -bugprone-misplaced-widening-cast,
  -bugprone-narrowing-conversions,
  -bugprone-reserved-identifier,
  -bugprone-std-namespace-modification,
  -bugprone-throwing-static-initialization,
  -bugprone-unchecked-optional-access,
  -bugprone-use-after-move,
  clang-analyzer-*

WarningsAsErrors: 'clang-analyzer-*,bugprone-*'

HeaderFilterRegex: '(include|src|tests|examples)/.*'

FormatStyle: file
